/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.01.2016, 20:27:34
    Author     : svyatoslavbelimov
*/

#files_area{
    display: none;
}


.flow-browse{
    cursor: pointer;
}

.flow-browse input{
    width: 500px;
}

.flow_list_p{
    width: 100%;
    padding: 0px 40px;
}


.flow_list_div{
    border: 1px solid #eee;
    display: none;
}

ul.flow-list{
}

ul.flow-list li{
    list-style: decimal;
    font-size: 11px;
}

.flow-file-name{
    font-weight: bold;
}
